<h2>Ingreso de Nuevos Productos</h2>
<br>
<form action="/api/productos" method="post">
    <input type="text" name="nombre" placeholder="Ingrese nombre producto">
    <input type="number" name="precio" placeholder="Ingrese nombre precio">
    <button>Enviar</button>
</form>