<!-- Include Handlebars from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<div id="userInfo"> </div>
<script id="userTemplate" type="text/x-handlebars-template">
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{age}}</p>
</script>
<script src="/js/users.js"></script>