<div>
    <h1>Todo listo para trabajar con Websocket!!</h1>
</div>

{{!-- me traigo dos scripts que hacen referencia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>