<div>
    Envio de mensajes con Websockets!
    <div>
        <p>
            <input id="textoEntrada" type="text" alt="Introduce un mensaje">
        </p>
        <p id="log"/>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>