<div>
    <h1>Login de Estudiantes</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>