<div>
    <h1>Registro de Nuevo Estudiante</h1>
    <form id="registerForm">

        <label>Nombre</label>
        <input name="name">
        <br/>
        <label>Apellido</label>
        <input name="lastName">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Edad</label>
        <input name="age">
        <br/>
        <label>Contraseña</label>
        <input name="password">

        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>