<div>
    <h1>Logueate usando Github!</h1>
    <a href="/api/sessions/github"> <button>Entrar con Github</button> </a>
    <br>
    <h2>No quieres usar Github? Puedes usa nuestros enlaces:</h2>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/users/login">Haz Login aquí</a></p>
</div>