<!-- Formulario -->
<div class="jumbotron">
    <h1 style="color:blue;">Ingrese Producto</h1>
    <br>
    <form action="/productos" method="post">
        <div class="form-group">
            <label for="nombre"><b>Nombre</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre" onchange="">
        </div>
        <div class="form-group">
            <label for="descripcion"><b>descripcion</b></label>
            <input id="descripcion" class="form-control" type="text" name="descripcion">
        </div>
        <div class="form-group">
            <label for="precio"><b>precio</b></label>
            <input id="precio" class="form-control" type="number" name="precio">
        </div>
        <div class="form-group">
            <label for="imagen"><b>imagen</b></label>
            <input id="imagen" class="form-control" type="text" name="imagen">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
</div>
<!-- Final Formulario -->