<h1>Formulario de mascotas</h1>
    <form action="/api/pet" method="POST">
        <label>Nombre</label>
        <input name="nombre">
        <label>Especie</label>
        <input name="especie">
        <input type="submit">
    </form>